/ShaderReflection/Debug
/ShaderReflection/x64
/ShaderReflection/.vs
/ShaderReflection/DvlErrLog.txt
/ShaderReflection/ShaderReflection.vcxproj.user
/ShaderReflection/shader_reflection.json
/Common/cpp/Core/.vs
/Common/cpp/Core/x64
/Common/cpp/Core/Core.vcxproj.user
/ModelConverter/.vs
/ModelConverter/x64
/ModelConverter/ModelConverter.vcxproj.user
/ThirdParty/assimp/.vs
/ThirdParty/assimp/x64
/ThirdParty/assimp/assimp.vcxproj.user
/ModelConverter/sponza.json
